* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* style for body */
body {
  margin: 0;
  padding: 0;
  background-color: #24202080;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;

}

header{
    text-align: center;
    margin-bottom: 40px;
    padding: 20px 0;
    background-color: #a19898;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav{
    padding: 10px 10px 0 10px;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 15px;
    font-size: 25px;
    padding-bottom: 10px;
    color: #000;
}

/* style for container */
.container {
  width: 90%;
  max-width: 1000px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

/* style for heading */
h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #222;
}

/* style for table, caption, thead, tbody, tr, th, td */
table,
caption,
thead,
tbody,
tr,
th,
td {
  border: 2px solid black;
}

/* style for table */
table {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
}

/* style for caption */
caption {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: bold;
  color: #555;
}

/* style for th, td */
th,
td {
  padding: 15px;
  text-align: left;
  font-size: 1em;
}

/* style for only th */
th {
  background-color: #222;
  color: #fff;
  text-align: center;
}

/* style for .table-head */
.table-head {
  background-color: #222222af;
}

/* media querry for mobile */
@media (max-width: 600px) {
  th,
  td {
    padding: 10px;
    font-size: 0.9em;
  }

  .container {
    padding: 20px;
  }
}
